[Desktop Entry]
Name=Potjie
Comment=Plug-and-play secure dev boxes
Exec=potjie-gtk
Icon=com.potjie.Potjie
Type=Application
Categories=System;Emulator;
Keywords=virtual machine;VM;encrypted;LUKS;developer;sandbox;
StartupWMClass=com.potjie.Potjie
X-GNOME-UsesNotifications=true
