[Desktop Entry]
Name=Potjie
Comment=Plug-and-play secure dev boxes
Exec=potjie-gtk
Icon=io.github.StoneAgeDev.potjie
Type=Application
Categories=System;Emulator;
Keywords=virtual machine;VM;encrypted;LUKS;developer;sandbox;
StartupWMClass=io.github.StoneAgeDev.potjie
X-GNOME-UsesNotifications=true
